{% extends 'home.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-md-12">
    <div class="card custom-card-height">
      <div class="card-header">
        <h5 class="card-title">Tabla de los Bienes</h5>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <!-- Modal -->
            <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Contenido del modal -->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div id="data-container" data-list-assets-url="{% url 'inventory:list_assets' %}">
              <table id="datatable-assets" class="table responsive">

                <thead>
                  <div class="flex-row d-flex btn-add-pdf">
                    <button class='btn btn-md btn-primary me-2 mb-2' data-toggle="modal" data-target="#register-modal">
                      <i class='fa-solid fa-plus'></i> <strong>Añadir Bien</strong>
                    </button>
                    <button id="external-pdf-button" class="btn btn-danger mb-3 ">
                      <i class="fas fa-file-pdf"></i> Generar Reporte PDF
                    </button>
                  </div>

                  <tr>
                    <th class="centered" scope="col">#</th>
                    <th class="centered" scope="col">Marca</th>
                    <th class="centered" scope="col">Modelo</th>
                    <th class="centered" scope="col">Categoria</th>
                    <th class="centered" scope="col">Serial</th>
                    <th class="centered" scope="col">BBVA</th>
                    <th class="centered" scope="col">Estatus</th>
                    <th class="centered" scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody id="tablebody_assets">

                </tbody>
              </table>

              <!-- Modal para registrar bienes -->
              <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="infoModalLabel">Registro de bienes</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- Contenido del modal -->
                      <form action="{% url 'inventory:asset_create' %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group form-floating mb-3">
                          {% if field.name == 'fk_category' %}
                          <!-- Campo de categoría con Select2 -->
                          <label for="fk_category_select">{{ field.label }}</label>
                          <select id="fk_category_select" name="fk_category" class="form-select">
                            <option value="" selected disabled>Seleccione una categoría</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                          </select>
                          {% elif field.name == 'fk_brand' %}
                          <!-- Campo de marca con Select2 -->
                          <label for="fk_brand_select">{{ field.label }}</label>
                          <select id="fk_brand_select" name="fk_brand" class="form-select">
                            <option value="" selected disabled>Seleccione una marca</option>
                            {% for brand in brands %}
                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                          </select>
                          {% else %}
                          <!-- Otros campos -->
                          {{ field|add_class:"form-control" }}
                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                          {% endif %}
                        </div>
                        {% endfor %}
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          <input type="submit" value="Guardar" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>



              <!-- Modal para mostrar el mensaje -->
              <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                    </div>
                    <div class="modal-body">
                      {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-success">{{ message }}</div>
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal para dispositivos inoperativos -->
              <div class="modal fade" id="inoperativoModal" tabindex="-1" aria-labelledby="inoperativoModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Encabezado del modal -->
                    <div class="modal-header">
                      <h5 class="modal-title" id="inoperativoModalLabel">Información del Dispositivo Inoperativo</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <!-- Cuerpo del modal -->
                    <div class="modal-body">
                      <p>Aquí va el contenido del modal.</p>
                    </div>
                    <!-- Pie del modal (opcional) -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>

            <!-- Modal editar-->
              <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Editar Bien</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form id="edit-form" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group form-floating mb-3">
                          {% if field.field.widget.input_type == 'select' %}
                          {{ field|add_class:"form-select" }}
                          {% else %}
                          {{ field|add_class:"form-control" }}
                          {% endif %}
                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        {% endfor %}
                        <input type="hidden" name="asset_id" value="{{ asset_id }}">
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="submit" form="edit-form" class="btn btn-primary">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="errorModalLabel">Error.</h5>
                    </div>
                    <div class="modal-body">
                      {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-danger">{{ message }}</div>
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal para opciones de PDF -->
              <div class="modal fade" id="pdfOptionsModal" tabindex="-1" aria-labelledby="pdfOptionsModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="pdfOptionsModalLabel">Opciones de Exportación a PDF</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form id="pdfOptionsForm">
                        <div class="mb-3">
                          <label class="form-label">Filtrar por Estado:</label>
                          <select class="form-select" name="statusFilter">
                            <option value="all">Todos</option>
                            <option value="1">Operativos</option>
                            <option value="0">Inoperativos</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Filtrar por Categoría:</label>
                          <select class="js-example-basic-multiple" name="categories[]" multiple="multiple"
                            style="width: 100%" data-placeholder="Seleccione categorías">
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Filtrar por Marcas:</label>
                          <select class="brand" name="brand[]" multiple="multiple" style="width: 100%"
                            data-placeholder="Seleccione categorías">
                            <option value="all">Todas las marcas</option>
                            {% for brand in brands %}
                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary" id="generatePdfButton">Generar PDF</button>
                    </div>
                  </div>
                </div>
              </div>

              <script>
                $(document).ready(function () {
                  // Obtén referencias a los campos usando los ids personalizados
                  const $statusField = $('#status_select');  // Campo de status con id personalizado
                  const $observationsField = $('#id_observation').closest('.form-group');  // Campo de observaciones

                  // Función para mostrar u ocultar el campo de observaciones
                  function toggleObservationsField() {
                    if ($statusField.val() === 'False') {  // Si se selecciona "No operativo"
                      $observationsField.show();  // Muestra el campo
                    } else {  // Si se selecciona "Operativo"
                      $observationsField.hide();  // Oculta el campo
                    }
                  }

                  // Escucha cambios en el campo de status
                  $statusField.on('change', toggleObservationsField);

                  // Ejecuta la función al cargar la página (por si ya hay un valor seleccionado)
                  toggleObservationsField();
                });
              </script>
              <script>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                $(document).ready(function () {
                  $('#successModal').modal('show');
                });
                {% elif message.tags == 'error' %}

                $(document).ready(function () {

                  $('#errorModal').modal('show');

                });
                {% endif %}
                {% endfor %}
                {% endif %}
              </script>
              {% endblock %}

              {% block extra_js %}
              <script src="{% static 'js/crudassets.js' %}"></script>
              <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
              <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
              <!-- Agregar el tema de Bootstrap para Select2 -->
              <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css"
                rel="stylesheet" />
              {% endblock %}