{% extends 'home.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card custom-card-height">
      <div class="card-header">
        <h5 class="card-title">Tabla de los Bienes</h5>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <!-- Modal -->
            <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Contenido del modal -->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <table id="datatable-assets" class="table responsive">
              <thead>
                <div class="flex-row d-flex">
                  <button class='btn btn-md btn-primary me-2 mb-2' data-toggle="modal" data-target="#register-modal"> <i
                      class='fa-solid fa-plus'></i>
                  </button>
                  <p>Añadir bien</p>
                </div>

                <tr>
                  <th class="centered" scope="col">#</th>
                  <th class="centered" scope="col">Marca</th>
                  <th class="centered" scope="col">Modelo</th>
                  <th class="centered" scope="col">Categoria</th>
                  <th class="centered" scope="col">Serial</th>
                  <th class="centered" scope="col">BBVA</th>
                  <th class="centered" scope="col">Estatus</th>
                  <th class="centered" scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody id="tablebody_assets">

              </tbody>
            </table>

            <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Registro de bienes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Contenido del modal -->
                    <form action="{% url 'inventory:asset_create' %}" method="post">
                      {% csrf_token %}
                      {% for field in form %}
                      <!-- se usa django-widget_tweaks -->
                      <div class="form-group form-floating mb-3">
                        {% if field.field.widget.input_type == 'select' %}
                        <!-- Campos de tipo select -->
                        {{ field|add_class:"form-select" }}
                        {% else %}
                        <!-- Campos de tipo input o textarea -->
                        {{ field|add_class:"form-control" }}
                        {% endif %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      </div>
                      {% endfor %}
                      <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal para mostrar el mensaje -->
            <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                  </div>
                  <div class="modal-body">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal para dispositivos inoperativos -->
            <div class="modal fade" id="inoperativoModal" tabindex="-1" role="dialog" aria-labelledby="inoperativoModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="inoperativoModalLabel">Información del Dispositivo Inoperativo</h5>
                  </div>
                  <div class="modal-body">
                    <!-- Contenido del modal -->
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error.</h5>
                  </div>
                  <div class="modal-body">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Incluye jQuery y Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            
            <script>
              $(document).ready(function () {
                initDataTable('datatable-assets', true); // Incluir columna de acciones
              });
            </script>
            
            <script>
              $(document).ready(function () {
                // Obtén referencias a los campos usando los ids personalizados
                const $statusField = $('#status_select');  // Campo de status con id personalizado
                const $observationsField = $('#id_observation').closest('.form-group');  // Campo de observaciones
            
                // Función para mostrar u ocultar el campo de observaciones
                function toggleObservationsField() {
                  if ($statusField.val() === 'False') {  // Si se selecciona "No operativo"
                    $observationsField.show();  // Muestra el campo
                  } else {  // Si se selecciona "Operativo"
                    $observationsField.hide();  // Oculta el campo
                  }
                }
            
                // Escucha cambios en el campo de status
                $statusField.on('change', toggleObservationsField);
            
                // Ejecuta la función al cargar la página (por si ya hay un valor seleccionado)
                toggleObservationsField();
              });
            </script>
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
            $('#successModal').modal('show');
            {% elif message.tags == 'error' %}
            <script>
              $(document).ready(function () {

              $('#errorModal').modal('show');

              });
            </script>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% endblock %}