{% extends 'dashboard.html' %}

{% block content %}


<table id="datatable-assets" class="table">
    <thead>
        <tr>
            <th class="centered" scope="col">#</th>
            <th class="centered" scope="col">Marca</th>
            <th class="centered" scope="col">Modelo</th>
            <th class="centered" scope="col">Category</th>
            <th class="centered" scope="col">Serial</th>
            <th class="centered" scope="col">BBVA</th>
            <th class="centered" scope="col">Estatus</th>
            <th class="centered" scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody id="tablebody_assets">
        
    </tbody>
</table>




</div>




{% endblock %}