{% extends 'home.html' %}
{% load widget_tweaks %}
{% block content %}

<style>
.login-box {
    margin-top: 10vh;
}

.login-box {
    width: 100px;
    margin: 7% auto;
}
.login-logo img {
    width: 100px;
}
.login-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-box-msg {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
.form-group {
    width: 100%;
}
.btn-primary {
    width: 100%;
}



.login-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box-msg {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
.input-group .form-control {
  border-radius: 0.25rem;
}
.input-group .input-group-text {
  border-radius: 0.25rem;
}

.card {
    max-width: 400px; /* Ajusta este valor según tus necesidades */
    margin: auto;
}
</style>
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Inicia sesión para ingresar</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Usuario:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{ VerifyUser.username|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_password">Contraseña:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    {{ VerifyUser.password|add_class:"form-control" }}

                    <!-- Icono del ojo V.Parra -->
                    <div class="input-group-append">
                        <span class="input-group-text" id="toggle-password"><i class="fas fa-eye"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="id_username">Nombre:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{ VerifyUser.username|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_username">Apellido:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{ VerifyUser.username|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Ingresar</button>
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById('toggle-password').addEventListener('click', function () {
        var passwordField = document.getElementById('id_password');
        var passwordFieldType = passwordField.getAttribute('type');
        if (passwordFieldType === 'password') {
            passwordField.setAttribute('type', 'text');
            this.innerHTML = '<i class="fas fa-eye-slash"></i>';
        } else {
            passwordField.setAttribute('type', 'password');
            this.innerHTML = '<i class="fas fa-eye"></i>';
        }
    });
</script>
{% endblock %}