{% extends 'home.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<div class="card">
    <div class="card-body">
        <h3>Editar Información del Usuario</h3>
        <form method="post" action="{% url 'user_info:user_edit' request.user.id %}" id="edit-form">
            {% csrf_token %}
            <!-- Campo de nombre de usuario -->
            <div class="form-group">
                {{ EditUserInfo.username.label_tag }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{ EditUserInfo.username }}
                </div>
            </div>
            <!-- Campo de nombre -->
            <div class="form-group">
                {{ EditUserInfo.first_name.label_tag }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                    </div>
                    {{ EditUserInfo.first_name }}
                </div>
            </div>
            <!-- Campo de apellido -->
            <div class="form-group">
                {{ EditUserInfo.last_name.label_tag }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-friends"></i></span>
                    </div>
                    {{ EditUserInfo.last_name }}
                </div>
            </div>
            <!-- Campo de contraseña -->
            <div class="form-group">
                {{ EditUserInfo.password.label_tag }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    {{ EditUserInfo.password }}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="toggle-password">
                            <i class="fas fa-eye" id="password-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Campo de confirmación de contraseña -->
            <div class="form-group">
                {{ EditUserInfo.password2.label_tag }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    {{ EditUserInfo.password2 }}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="toggle-password2">
                            <i class="fas fa-eye" id="password-icon2"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Campo de pregunta de seguridad -->
            <div class="form-group">
                {{ SecurityQuestionForm.security_question.label_tag }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-question-circle"></i></span>
                    </div>
                    {{ SecurityQuestionForm.security_question }}
                </div>
            </div>
            <!-- Campo de respuesta de seguridad -->
            <div class="form-group">
                {{ SecurityQuestionForm.security_answer.label_tag }}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{ SecurityQuestionForm.security_answer }}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="toggle-security-answer">
                            <i class="fas fa-eye" id="security-answer-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    const editUserUrl = "{% url 'user_info:user_edit' 0 %}"; // 0 es un placeholder
    const userId2 = "{{ request.user.id|default:'' }}"; // Maneja el caso donde el usuario no esté autenticado
</script>
<script src="{% static 'js/user_info.js' %}"></script>
{% endblock %}