.user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 1rem;
    max-width: 100%;
}

.nav-link.active {
    background-color: rgb(0, 183, 255) !important;
}

.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

a {
    text-decoration: none;
}

#collapse-menu-button:hover {
    background-color: transparent !important;
}

aside a i {
    color: white;
    opacity: .8;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 10px !important;
    padding-right: 5px;
    color: black !important;
}

/* Estilo base del botón */
#external-pdf-button {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Efecto hover */
#external-pdf-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efecto active */
#external-pdf-button:active {
    transform: translateY(1px);
}

/* Animación de carga */
#external-pdf-button.pdf-button-loading {
    padding-left: 40px;
}

#external-pdf-button.pdf-button-loading:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s ease-in-out infinite;
}

/* Animación de éxito */
#external-pdf-button.pdf-button-success {
    background-color: #28a745;
    animation: pulseSuccess 0.5s;
}

/* Animación de error */
#external-pdf-button.pdf-button-error {
    background-color: #dc3545;
    animation: pulseError 0.5s;
}

/* Keyframes para animaciones */
@keyframes spin {
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

@keyframes pulseSuccess {
    0% {
        box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(40, 167, 69, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
    }
}

@keyframes pulseError {
    0% {
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    }
}

/* Icono de PDF */
#external-pdf-button i {
    margin-right: 8px;
    transition: all 0.3s ease;
}

#external-pdf-button.pdf-button-loading i {
    opacity: 0;
}

.btn-add-pdf {
    justify-content: space-between;
}

/* Select 2 bootstrap-5 theme override */
html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection {
    background-color: transparent !important;
    border: 1px solid #495057;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    border: 1px solid var(--bs-gray-600);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    background-color: transparent !important;
    color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown {
    color: #dee2e6 !important;
    border: 1px solid #495057 !important;
    background-color: var(--bs-body-bg);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[role=group] .select2-results__group {
    color: var(--bs-secondary-color) !important;
}

.brand-link {
  height: 56px;
  /* Tamaño predeterminado */
  transition: height 0.3s ease;
}

.brand-link.collapsed {
  height: 40px;
  /* Tamaño reducido cuando el menú está colapsado */
}

.brand-icon {
  margin-left: 5px;
}

#dark-mode-toggle {
  margin-left: auto;
  /* Asegura que el botón esté alineado a la derecha */
}