{% extends 'home.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h1 class="title">Manuales</h1>
  <div class="folders">
    <a href="{% static 'manuals/InvenTrack - Manual de Usuario.pdf' %}" download>
    <div class="folder-container">
      <div class="folder">
        <div class="front-side">
          <div class="tip"></div>
          <div class="cover"></div>
        </div>
        <div class="back-side cover"></div>
      </div>
      <div class="folder-title">
        Manual de Usuario
      </div>
    </div>
    </a>
    <a href="{% static 'manuals/InvenTrack - Manual de Instalación.pdf' %}" download>
    <div class="folder-container">
      <div class="folder">
        <div class="front-side">
          <div class="tip"></div>
          <div class="cover"></div>
        </div>
        <div class="back-side cover"></div>
      </div>
      <div class="folder-title">
        Manual de Instalación
      </div>
    </div>
    </a>
  </div>
</div>

{% endblock %}