{% extends 'home.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-md-12">
    <div class="card custom-card-height">
      <div class="card-header">
        <h5 class="card-title">Tabla de las Categorias</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">

            <div id="data-container" data-list-category-url="{% url 'category:list_category' %}">
              <table id="datatable-cat" class="table">
                <thead>
                  <div class="flex-row d-flex btn-add-pdf">
                    <button class='btn btn-md btn-primary me-2 mb-2' data-toggle="modal" data-target="#register-modal">
                      <i class='fa-solid fa-plus'></i> <strong>Añadir Categoria</strong>
                    </button>
                    <button id="external-pdf-button" class="btn btn-danger mb-3">
                      <i class="fas fa-file-pdf"></i> Generar Reporte PDF
                    </button>
                  </div>
                  <tr>
                    <th class="centered" scope="col">#</th>
                    <th class="centered" scope="col">Categoria</th>
                    <th class="centered" scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody id="tablebody_cat">

                </tbody>
              </table>

            </div>

            <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Contenido del modal -->
                    <form action="{% url 'category:create_category' %}" method="post">
                      {% csrf_token %}
                      {% for field in cat_form %}
                      <!-- se usa django-widget_tweaks -->
                      <div class="form-group form-floating mb-3">
                        {% if field.field.widget.input_type == 'text' %}
                        <!-- Campos de tipo select -->
                        {{ field|add_class:"form-control" }}
                        {% endif %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      </div>
                      {% endfor %}
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <input type="submit" value="Guardar" class="btn btn-primary">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal para editar -->
            <div class="modal fade" id="editCatModal" tabindex="-1" aria-labelledby="editCatModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editCatModalLabel">Editar Categoría</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                  </div>
                  <div class="modal-body">
                    <form id="edit-cat-form" action="{% url 'category:category_edit' 0 %}" method="post">
                      {% csrf_token %}
                      {{ edit_cat_form }}
                      <input type="hidden" id="edit-cat-id" name="id">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="save-changes">Guardar cambios</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error.</h5>
                  </div>
                  <div class="modal-body">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                  </div>
                  <div class="modal-body">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <script>
              {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'success' %}
              $(document).ready(function () {
                $('#successModal').modal('show');
              });
              {% elif message.tags == 'error' %}

              $(document).ready(function () {

                $('#errorModal').modal('show');

              });
              {% endif %}
              {% endfor %}
              {% endif %}
            </script> -->
            {% endblock %}

            {% block extra_js %}
            <script src="{% static 'js/crudcat.js' %}"></script>
            {% endblock %}