{% extends 'home.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-md-12">
    <div class="card custom-card-height">
      <div class="card-header">
        <h5 class="card-title">Usuarios</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div id="data-container" data-list-users-url="{% url 'users:users_list' %}">
              <table id="datatable-users" class="table">
                <thead>
                  <div class="flex-row d-flex btn-add-pdf">
                    <button class='btn btn-md btn-primary me-2 mb-2' data-bs-toggle="modal"
                      data-bs-target="#register-modal">
                      <i class='fa-solid fa-plus'></i> <strong>Añadir Usuario</strong>
                    </button>
                    <button id="external-pdf-button" class="btn btn-danger mb-3">
                      <i class="fas fa-file-pdf"></i> Generar Reporte PDF
                    </button>
                  </div>
                  <tr>
                    <th class="centered" scope="col">#</th>
                    <th class="centered" scope="col">Usuario</th>
                    <th class="centered" scope="col">Nombre</th>
                    <th class="centered" scope="col">Apellido</th>
                    <th class="centered" scope="col">Correo</th>
                    <th class="centered" scope="col">Estado</th>
                    <th class="centered" scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody id="tablebody_user">

                </tbody>
              </table>

              <!-- Modal para editar usuarios -->
              <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editUserModalLabel">Editar Usuario</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                      <form id="edit-user-form" action="{% url 'users:user_edit' 0 %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="edit-user-id" name="id">
                        <div class="form-group form-floating mb-3">
                          <input type="text" class="form-control" id="edit-user-username" name="username" required>
                          <label for="edit-user-username">Nombre de usuario</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                          <input type="text" class="form-control" id="edit-user-name" name="first_name" required>
                          <label for="edit-user-name">Nombre</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                          <input type="text" class="form-control" id="edit-user-last_name" name="last_name" required>
                          <label for="edit-user-last_name">Apellido</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                          <input type="email" class="form-control" id="edit-user-email" name="email" required>
                          <label for="edit-user-email">Correo electrónico</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                          <div class="form-group form-floating mb-3 position-relative">
                            <input type="password" class="form-control pe-5" id="edit-user-password" name="password">
                            <label for="edit-user-password">Nueva contraseña (opcional)</label>
                            <button type="button"
                              class="btn btn-outline-secondary toggle-password position-absolute top-50 end-0 translate-middle-y"
                              data-target="#edit-user-password" style="border: none; background: none;">
                              <i class="fas fa-eye"></i>
                            </button>
                          </div>
                          <label for="edit-user-password"></label>
                        </div>
                        <div class="form-group form-floating mb-3">
                          <div class="form-group form-floating mb-3 position-relative">
                            <input type="password" class="form-control pe-5" id="edit-user-password2" name="password2"
                              title="Por favor, repite la contraseña.">
                            <label for="edit-user-password2">Confirmar nueva contraseña</label>
                            <button type="button"
                              class="btn btn-outline-secondary toggle-password position-absolute top-50 end-0 translate-middle-y"
                              data-target="#edit-user-password2" style="border: none; background: none;">
                              <i class="fas fa-eye"></i>
                            </button>
                          </div>
                          <label for="edit-user-password2"></label>
                        </div>
                        <!-- <div class="form-group form-floating mb-3">
                          <select class="form-select" id="edit-security-question" name="security_question" required>
                            <option value="">Seleccione una pregunta</option>
                            {% for value, label in form.fields.security_question.choices %}
                              <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                          </select>
                          <label for="edit-security-question">Pregunta de seguridad</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                          <input type="text" class="form-control" id="edit-security-answer" name="security_answer" required>
                          <label for="edit-security-answer">Respuesta de seguridad</label>
                        </div> -->

                        <!-- <div class="form-group form-floating mb-3">
                          <label for="id_security_question">Pregunta de seguridad</label>
                          {{edit_user_form.security_question }}
                        </div>
                        <div class="form-group form-floating mb-3">
                          <label for="id_security_answer">Respuesta de seguridad</label>
                          {{ edit_user_form.security_answer }}
                        </div> -->
                        <div class="form-group form-floating mb-3">
                          <select class="form-select" id="security_question" name="security_question" required>
                            {% for value, label in edit_user_form.fields.security_question.choices %}
                            <option value="{{ value }}" {% if
                              edit_user_form.security_question.value|default:''==value|stringformat:"s" %}selected{%
                              endif %}>
                              {{ label }}
                            </option>
                            {% endfor %}
                          </select>
                          <label for="security_question">Pregunta de seguridad</label>
                        </div>

                        <div class="form-group form-floating mb-3">
                          <input type="password" class="form-control" id="security_answer" name="security_answer">
                          <label for="security_answer">Respuesta de seguridad</label>
                        </div>
                        <!-- <div class="form-group form-floating mb-3">
                          <input type="text" class="form-control" id="id_security_answer" name="security_answer"
                            value="" placeholder="Ingrese la respuesta de seguridad">
                          <label for="id_security_answer">Respuesta de seguridad</label>
                        </div> -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <button class="btn btn-primary" id="save-changes">Guardar cambios</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal para registrar usuarios -->
            <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Registro de Usuarios</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Contenido del modal -->
                    <form action="{% url 'users:create_user' %}" method="post">
                      {% csrf_token %}
                      {% for field in user_form %}
                      <div class="form-group form-floating mb-3 position-relative">
                        {% if field.field.widget.input_type == 'password' %}
                        <input type="password" class="form-control pe-5" id="{{ field.id_for_label }}"
                          name="{{ field.name }}" required>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <button type="button"
                          class="btn btn-outline-secondary toggle-password position-absolute top-50 end-0 translate-middle-y"
                          data-target="#{{ field.id_for_label }}" style="border: none; background: none;">
                          <i class="fas fa-eye"></i>
                        </button>

                        {% elif field.field.widget.input_type == 'select' %}
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                        {% else %}
                        {{ field|add_class:"form-control" }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% endif %}

                        {% if field.errors %}
                        <div class="text-danger small mt-1">
                          {{ field.errors|join:", " }}
                        </div>
                        {% endif %}
                      </div>
                      {% endfor %}

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <input type="submit" value="Añadir" class="btn btn-primary">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            {% endblock %}

            {% block extra_js %}
            <script>
              const disableUserUrl = "{% url 'users:disable_user' 0 %}"; 
              const enableUserUrl = "{% url 'users:enable_user' 0 %}"; // 0 es un placeholder
              const editUserUrl = "{% url 'users:user_edit' 0 %}";
            </script>
            <script src="{% static 'js/cruduser.js' %}"></script>
            <script src="{% static 'js/password-eye.js' %}"></script>

            {% endblock %}